@import './index.css';

.text-gradient {
    display: inline-block;
    background: linear-gradient(to right, #d4af37, #b8860b); /* Degradado de dorado a dorado oscuro */
    -webkit-background-clip: text; /* Para navegadores WebKit (Chrome, Safari) */
    -moz-background-clip: text;    /* Para Firefox */
    background-clip: text;         /* Para otros navegadores */
    color: transparent;            /* Hacer que el texto sea transparente para mostrar el degradado */
}

.letter-wrapper {
    display: inline-block;
    position: relative;
}

.letter-wrapper::after {
    content: attr(data-letter);
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #d4af37, #b8860b); /* Degradado dorado */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra del texto */
    z-index: 1;
    display: block;
    white-space: pre;
}

.letter {
    display: inline-block;
    position: relative;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

